/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  nav ul li a {
    padding: 0.6rem 1rem;
  }

  nav ul {
    padding: 0;
  }

  /*********************************************? HERO IMAGE(home page)*/
  .heroStats {
    padding: 1rem;
    font-size: 0.8em;
    top: 25px;
    left: 50px;
  }

  .heroButton {
    top: 70%;
    left: 40%;
    padding: 10px 90px;
    font-weight: bold;
  }

  /*********************************************? HOME PAGE */
  /*Local Company Advertisement*/
  .adverGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "company1 company2 company3";
  }

  /******************CONTACT INFO*/
  .grid-test {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "grid-h3 grid-img"
      "grid-pp grid-img ";
  }

  .grid-h3 {
    display: flex;
    justify-content: start;
    padding-left: 130px;
    margin: 0;
    margin-top: 30px;
  }

  .grid-img {
    display: block;
    width: 300px;
    height: 300px;
  }

  /*?**************************** Gallery page */

  .gridGallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hoverImg:hover {
    box-shadow: 0 0 30px #333;
  }

  .gridGallery figure figcaption {
    text-shadow: 2px 2px 4px #000000;
  }

  /********************************************* HOME PAGE */
  .homeInfoSection figure img {
    width: 100%;
  }

  .homeInfoSection {
    display: block;
  }

  .homeInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  /* .homeInfoSection img {
    align-self: end;
  } */

  /*! Three day forecast */
  main section#weatherforecast {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /********************************************? CONTACT PAGE */
}
